.container {
    background-color: hsl(220.85deg 5.52% 80.16% / 37%);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: auto auto;
    max-width: 400px;
}

.container__calculator {
    background-color: rgb(86, 122, 230);
    background-image: linear-gradient(168deg, rgba(89, 131, 252, 1) 11%, rgba(0, 0, 0, 1) 76%);
}