.panel {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 5px;
}

.panel__memoryContainer {
    display: flex;
    justify-content: space-around;
}

.panel__classicOperationContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px 2px;
}

.panel__memoryOperation {
    border: none;
    background: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.panel__memoryOperation:hover {
    transform: scale(1.04);
}

.panel__classicOperation {
    padding: 8px;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: hsl(0, 3%, 20%);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.panel__classicOperation:hover {
    transform: scale(1.02);
    background-color: hsl(0, 3%, 23%);
}

.panel__number {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: hsl(240, 4%, 26%);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.panel__number:hover {
    transform: scale(1.01);
    background-color: hsl(240, 5%, 30%);
}

.panel__classicOperation--equal{
    background-color: hsl(206, 72%, 63%);
    color: black;
    font-size: larger;
    cursor: pointer;
}

.panel__classicOperation--equal:hover {
    background-color: hsl(206, 66%, 67%);
}